/* 
Title: CSS basics for archaic browsers (I'm looking at you IE6) + print styles
foodsense.is
/* -------------------------------------------- */

body {
	background-color: #FFF;
	margin: 0;
	padding: 5%;
	font-family: "Georgia", serif;
	color: #333;
}

/* PRINT STYLES */

@media print {

body { margin: 5pt 10pt; font-size: 10pt; line-height: 120%; background: white; }
nav, #featured, #newsletter, aside[role="social"], aside[role="sub"], #share, #comments, footer .social, article footer, .facebook-like, #pagination { display: none; }
img { max-width: auto; }
article h1 { font-size: 16pt; }
article h2 { font-size: 14pt; } .recipe h2 { font-size: 10pt; }
article h3 { font-size: 12pt; }
article h4 { font-size: 10pt; }
article .recipe { margin: 40pt 0; }
.recipe .photo { float: right; width: 150pt; height: auto; margin: 0 0 20pt 20pt; }
.recipe .photo img { width: 150pt; height: auto; }

/* Print URLs after link text */
#content .group a:link:after, 
#content .group a:visited:after,
footer a:link:after,
footer a:visited:after {
	content: " (" attr(href) ") ";
}

}